<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活体检测</title>
    <script>
        const synth = window.speechSynthesis;
        let captureInterval = null;   // 定义定时器对象
        let captureCount = 0;         // 定义截图数量
        let captureImages = [];       // 保存8张截图图片

        function doSpeak(content) {
            let utterance = new SpeechSynthesisUtterance(content);
            synth.cancel();
            synth.speak(utterance);
        }

        // 初始化摄像头，此处不再需要定义MediaRecorder对象，因为
        async function initCamera() {
            stream = await navigator.mediaDevices.getUserMedia({
                audio: false,
                video: {
                    width: {ideal: 960},
                    height: {ideal: 540}
                }
            });
            document.getElementById('preview').srcObject = stream;
        }

        // 实时将截图渲染到页面中，当达到8张后停止截图
        function captureImage() {
            const preview = document.getElementById('preview');
            const canvas = document.createElement('canvas');
            const context = canvas.getContext('2d');
            canvas.width = preview.videoWidth;
            canvas.height = preview.videoHeight;

            context.drawImage(preview, 0, 0, canvas.width, canvas.height);

            const imageUrl = canvas.toDataURL('image/jpeg', 0.75);

            let image = document.createElement("img");
            image.src = imageUrl;
            image.style.width = "320px";
            image.style.height = "180px";
            image.style.marginLeft = "15px";
            document.getElementById("screenshot").appendChild(image);

            // imageUrl为Base64编码，格式为：data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAA......
            // 所以需要将data:image/jpeg;base64,这部分删除后才是完整的Base64编码
            captureImages.push(imageUrl.split(",")[1]);

            captureCount++;
            if (captureCount >= 8) {
                stopCapture();
            }
        }

        function doCheckin() {
            doSpeak("正在检测中");

            fetch('/checkin/live', {
                method: 'POST',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(captureImages)
            })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                if (data.includes("Checkin-OK")) {
                    doSpeak("考勤成功");
                    // location.reload();   // 刷新当前页面
                }
                else if (data.includes("Checkin-Repeated")) {
                    doSpeak("请勿重复考勤");
                }
                else if (data.includes("Checkin-Not-Live")) {
                    doSpeak("活体检测失败");
                }
            })
            .catch(err => console.log('请求失败', err));
        }

        // 开始截图，将截图数量清零，并启动定时任务每200毫秒截图一张
        // 定义为异步执行，并且使用Promise暂停1.5秒后开始，给用户准备时间
        async function startCapture() {
            document.getElementById("screenshot").innerHTML = '';
            captureCount = 0;
            doSpeak("请快速眨眼");
            await new Promise(resolve => setTimeout(resolve, 1500));
            captureInterval = setInterval(captureImage, 200);
        }

        // 停止截图，此时删除定时器
        function stopCapture() {
            clearInterval(captureInterval);
            doCheckin();
        }

        document.addEventListener('DOMContentLoaded', function () {
            initCamera();
        });
    </script>
</head>
<body>
    <video id="preview" autoplay muted width="640" height="360"></video>
    <br/>
    <!-- 手工开始截图 -->
     <button onclick="startCapture()">开始考勤</button>
<!--    <div id="screenshot" style="margin-top: 20px"/>-->
</body>
</html>